rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return signedIn() && request.auth.uid == uid;
    }

    // A user can read their own user document
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Families can only be read or written to by members of that family
    match /families/{familyId} {
      allow read, write: if signedIn() && request.auth.uid in resource.data.guardianIds;
    }

    // Children can only be read by members of the same family
    match /children/{childId} {
      allow read: if signedIn() && get(/databases/$(database)/documents/families/$(resource.data.familyId)).data.guardianIds[0] in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.familyIds;
      allow write: if false; // Children data is written by trusted functions
    }

    // Stories can be read by any authenticated user
    match /stories/{storyId} {
      allow read: if signedIn();
      allow write: if false; // Stories are curated and added by admins
    }

    // Progression can only be read by family members, and written by functions
    match /children/{childId}/progression/{storyId} {
        allow read: if signedIn() && get(/databases/$(database)/documents/families/$(get(/databases/$(database)/documents/children/$(childId)).data.familyId)).data.guardianIds[0] in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.familyIds;
        allow write: if false;
    }

    match /events/{eventId} {
      allow read: if signedIn() && resource.data.userId == request.auth.uid;
      allow create, update, delete: if false;
    }

    match /aggregates/{period}/{docId} {
      allow read: if signedIn() && resource.data.userId == request.auth.uid;
      allow write: if false;
    }

    match /memories/{memoryId} {
      allow read: if signedIn() && resource.data.userId == request.auth.uid;
      allow write: if false;
    }

    match /relationships/{relationshipId} {
      allow read: if signedIn() && resource.data.userId == request.auth.uid;
      allow write: if false;
    }
  }
}